<h3>em-progress</h3>

Plain: em-progress value=X
{{em-progress value=0}}
{{em-progress value=progressValue}}
{{em-progress value=1}}

<br/>
Striped: em-progress value=X striped=true
{{em-progress value=0 striped=true}}
{{em-progress value=progressValue striped=true}}
{{em-progress value=1 striped=true}}

<br/>
Styles - success, info, warning & danger
{{em-progress value=progressValue striped=true style="success"}}
{{em-progress value=progressValue striped=true style="info"}}
{{em-progress value=progressValue striped=true style="warning"}}
{{em-progress value=progressValue striped=true style="danger"}}
